[submodule "Nebula.CI.Services.Pipeline"]
	path = Nebula.CI.Services.Pipeline
	url = https://github.com/xiaolait/Nebula.CI.Services.Pipeline.git
[submodule "Nebula.CI.Services.PipelineHistory"]
	path = Nebula.CI.Services.PipelineHistory
	url = https://github.com/xiaolait/Nebula.CI.Services.PipelineHistory.git
[submodule "Nebula.CI.Services.Plugins"]
	path = Nebula.CI.Services.Plugins
	url = https://github.com/Lirx93/Nebula.CI.Services.Plugin.git
[submodule "Nebula.CI.Services.WebHost/ClientApp"]
	path = Nebula.CI.Services.WebHost/ClientApp
	url = https://github.com/jzhang000/Nebula.CI.Client.Web.git
